body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    line-height: 1.5em;
}

header {
    background-image: url('../style/img/header.jpg');
    height: 100px;
}

header h1 {
    margin:0;
    padding-top:  15px;
}

main {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 100%;
}

nav {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 230px;
    margin-right: -230px;
    background: #eee;
}

footer {
    clear: left;
    width: 100%;
    background: #ccc;
    text-align: center;
    padding: 4px 0;
}

#wrapper {
    overflow: hidden;
}

#content {
    margin-left: 230px; 
    /* Giống chiều rộng của nav*/
}

.innertube {
    margin: 15px;
    /* Padding for content*/
    margin-top: 0;
}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
}